@page
@model IceRoll.Pages.AboutModel
@{
    <section id="main">
 <h1 class="about-center">A little bit about Ice.roll</h1><br>
 <p>
    Ice.roll is a sweet frozen food that is usually eaten as a snack or dessert. 
    It  made from milk or cream and flavored with sweeteners, sugar or alternatives, and spices, such as chocolate or vanilla, 
    or with fruit such as strawberries, Banana, Chocoa, Mango, and Orange. 
    Food coloring is sometimes added, in addition to stabilizers. 
    The mixture is cooled below the freezing point of water and stirred to incorporate air spaces and to prevent detectable ice crystals from forming.
    We are located in the beautiful town of Bandung.
    Ice.roll also uses a sophisticated online ordering system that makes it easy for anyone with internet access to order our ice cream and have it delivered to their door. 
    Our service time is within 14 hours.
 </p><br><br><br><br>
 <h2 class="about-center">THANK YOU</h2>
 <img class="about-img" src="/images/about.jpeg" alt="">
</section>

}
